/*Asterisk to overide default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {

    background-color: aqua;
    padding: 0 5px;
    width: 100%;
    box-shadow: 0 1px 1px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    z-index: 99;


}

header a {
    color: inherit;
    text-decoration: none;
}

h1 {

    letter-spacing: 1px;
    color: #3a3a3a;

}

.menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

nav {
    position: absolute;
    background-color: aqua;
    width: 100%;
    left: 0;
    padding: 0 10px;
    box-shadow: 0 1px 1px #3a3a3a;
    display: none;
    top: 100%;

}

#drop-menu:checked~nav {
    display: block;
}

#drop-menu {
    display: none;
}

.drop-menu-icon {
    font-size: 20px;
}


/* body */
body {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;


}

main {
    margin-top: 40px;
}

/*footer*/
footer {
    background-color: aqua;

}

/* Media Query for tablets*/
@media screen and (min-width: 768px)
/*Header*/
    {
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 10px;
    }

    .menu {
        display: flex;
    }

    .menu>li {
        padding: 5px;
    }

    .drop-menu-icon {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 65px;
        margin-left: 6px;
        margin-right: 6px;
    }

    /*main*/
    main {
        margin-top: 68px;
    }
}