/*Asterisk to overide default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: red;
    padding: 0 5px;
    width: 100%;
    box-shadow: 0 1px 1px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    z-index: 99;
}

header a {
    color: inherit;
    text-decoration: none;
}

h1 {
    letter-spacing: 1px;
    color: antiquewhite;
}

h2 {
    padding: 5px;
    text-align: center;
    font-size: 200%;
    color: antiquewhite;
}

h3 {
    text-align: left;
    font-size: 170%;
    color: antiquewhite;
}

p {
    font-size: xx-large;
    color: aliceblue;
}

.menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
    margin-bottom: 10px;
    color: antiquewhite;
}

.menu a:hover {
    border-bottom: 2px solid #3a3a3a;
}

nav {
    position: absolute;
    background-color: grey;
    width: 100%;
    left: 0;
    padding: 0 10px;
    box-shadow: 0 1px 1px #3a3a3a;
    display: none;
    top: 100%;
}

#drop-menu:checked~nav {
    display: block;
}

#drop-menu {
    display: none;
}

.drop-menu-icon {
    font-size: 20px;
}

/* body */
body {
    background-color: grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: url("../images/free-photo-of-formula-one-car-racing-at-championship.jpeg") no-repeat center/cover;
}

.about_us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.about_us h2 {
    background-color: antiquewhite;
    color: black;
}

.about_us p {
    text-align: start;
    align-self: flex-start;
    background-color: rgba(0 0 0 / 50%);
    color: antiquewhite;
    padding: 5px;
    margin-top: 5px;
}

.facts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    margin: 2em auto;
    background: rgba(0 0 0 / 50%);
}

.response {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    margin: 2em auto;
    background: rgba(0 0 0 / 80%);
}

.response h2 {
    background-color: antiquewhite;
    color: black;
}

.inform {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
    font-size: 110%;
    letter-spacing: 2px;
    background-color: rgba(0 0 0 / 0%);
}


.facts h2 {
    background-color: antiquewhite;
    color: black;
}

.facts p {
    text-align: start;
    align-self: flex-start;
    background-color: rgba(0 0 0 / 0%);
    padding: 5px;
    margin-bottom: 10px;
}

.results {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
    font-size: 110%;
    letter-spacing: 2px;
    background-color: rgba(0 0 0 / 0%);
}

.meet {
    width: 80%;
    font-size: 110%;
    letter-spacing: 2px;
    text-align: center;
    background-color: rgba(0 0 0 / 0%);
}

.events {
    width: 80%;
    font-size: 110%;
    letter-spacing: 2px;
    text-align: center;
    background-color: rgba(0 0 0 / 0%);
}


.track {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.track-info {
    margin-bottom: 1em;
}

.track h2 {
    background-color: rgba(0 0 0 / 50%);
    border-width: 1px;
    border-style: dotted;
    border-color: red;
}

.track div {
    text-align: center;
    padding: 10px;
    background-color: rgba(0 0 0 / 50%);
    flex: 300px;
    flex-grow: 1;
    border-width: 1px;
    border-style: dotted;
    border-color: red;
}

.silverstone {
    background: url("../images/silverstone.avif") no-repeat center/contain;
}

.monaco {
    background: url("../images/monoco.avif") no-repeat center/contain;
}

.australian {
    background: url("../images/australia.avif") no-repeat center/contain;
}

.miami {
    background: url("../images/miami.avif")no-repeat center/contain;
}

#image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.times {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
}

.times p {
    color: antiquewhite;
}

.times div {
    text-align: center;
    padding: 10px;
    background-color: rgba(0 0 0 / 50%);
    flex: 300px;
    flex-grow: 1;
    border-width: 1px;
    border-style: dotted;
    border-color: red;
}

.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: rgba(0 0 0 /70%);
    margin-top: 20px;
    color: antiquewhite;
    font-size: x-large;
}

.dont-miss-out {
    text-align: center;
    font-size: larger;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: rgba(0 0 0 /70%);
    margin-top: 5px;
    color: antiquewhite;
    font-size: larger;
}

.buttons {
    font-size: larger;
}

.question h3 {
    padding: 10px;
}

.submit {
    cursor: pointer;
    background-color: white;
    border: none;
    color: black;
    padding: 3px 3px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.submit:hover {
    border: 2px solid red;
}

.survey {
    cursor: pointer;
    background-color: white;
    border: none;
    color: black;
    padding: 3px 3px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.survey:hover {
    border: 2px solid red;
}

/* Footer */
footer {
    background-color: red;
    margin-top: auto;
}

.social-menu {
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.social-menu i {
    font-size: 200%;
    padding: 10px;
    color: antiquewhite;
}

.social-menu a:hover {
    border-bottom: 2px solid bisque;
}

/* Media Query for tablets*/
@media screen and (min-width: 768px)
/*Header*/
    {
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 10px;
    }

    .menu {
        display: flex;
    }

    .menu>li {
        padding: 5px;
    }

    .drop-menu-icon {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 65px;
        margin-left: 6px;
        margin-right: 6px;
    }

    /*main*/
    main {
        margin-top: 68px;
    }
}